@charset "UTF-8";
/*------------------------
Reset
------------------------*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  display: block;
}

@font-face {
  font-family: "Bellefair";
  src: url("../fonts/bellefair-regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "cooper-hewitt-book";
  src: url("../fonts/cooperhewitt-book.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "cooper-hewitt-light";
  src: url("../fonts/cooperhewitt-light.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "cooper-hewitt-medium";
  src: url("../fonts/cooperhewitt-medium.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
/* Cores e fontes */
:root {
  --clr-primary: #22425C;
  --clr-txt: #4B535B;
  --clr-border: #CACBCE;
  --clr-btn: #E5695B;
  --clr-btn-hover: #F26F60;
  --box-shadow: 0px 3px 6px #00000029;
  --font-title: "Bellefair", serif;
  --font-book: "cooper-hewitt-book", sans-serif;
  --font-light: "cooper-hewitt-light", sans-serif;
  --font-medium: "cooper-hewitt-medium", sans-serif;
}

/*------------------------
Animacoes
------------------------*/
@keyframes slideRight {
  from {
    opacity: 0;
    transform: translateX(-100%);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes fadeDown {
  0% {
    opacity: 0;
    transform: translateY(-80px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}
/*-------------------------
Tema Slick Principal
-------------------------*/
/* Slider */
.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;
  -khtml-user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

.slick-list {
  position: relative;
  display: block;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

.slick-list:focus {
  outline: none;
}

.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.slick-track {
  position: relative;
  top: 0;
  left: 0;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.slick-track:before,
.slick-track:after {
  display: table;
  content: "";
}

.slick-track:after {
  clear: both;
}

.slick-loading .slick-track {
  visibility: hidden;
}

.slick-slide {
  display: none;
  float: left;
  height: 100%;
  min-height: 1px;
}

[dir=rtl] .slick-slide {
  float: right;
}

.slick-slide img {
  display: block;
}

.slick-slide.slick-loading img {
  display: none;
}

.slick-slide.dragging img {
  pointer-events: none;
}

.slick-initialized .slick-slide {
  display: block;
}

.slick-loading .slick-slide {
  visibility: hidden;
}

.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
  display: none;
}

/* Arrows */
.slick-prev,
.slick-next {
  font-size: 0;
  line-height: 0;
  position: absolute;
  top: 50%;
  z-index: 1;
  display: block;
  padding: 0;
  transform: translate(0, -50%);
  cursor: pointer;
  color: transparent;
  border: none;
  outline: none;
  background: transparent;
}

.slick-prev:hover,
.slick-prev:focus,
.slick-next:hover,
.slick-next:focus {
  color: transparent;
  outline: none;
  background: transparent;
}

.slick-prev:hover:before,
.slick-prev:focus:before,
.slick-next:hover:before,
.slick-next:focus:before {
  opacity: 1;
}

.slick-prev.slick-disabled:before,
.slick-next.slick-disabled:before {
  opacity: 0.25;
}

.slick-prev:before,
.slick-next:before {
  font-family: "Arial";
  font-size: 8rem;
  opacity: 0.75;
  color: white;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.slick-prev {
  left: -25px;
}

[dir=rtl] .slick-prev {
  right: -25px;
  left: auto;
}

.slick-prev:before {
  content: "‹";
}

[dir=rtl] .slick-prev:before {
  content: "›";
}

.slick-next {
  right: -25px;
}

[dir=rtl] .slick-next {
  right: auto;
  left: -25px;
}

.slick-next:before {
  content: "›";
}

[dir=rtl] .slick-next:before {
  content: "‹";
}

/* Dots */
.slick-dots {
  position: absolute;
  bottom: 15px;
  display: block;
  width: 100%;
  padding: 0;
  margin: 0;
  list-style: none;
  text-align: center;
}

.slick-dots li {
  position: relative;
  display: inline-block;
  width: 20px;
  height: 20px;
  margin: 0 5px;
  padding: 0;
  cursor: pointer;
}

.slick-dots li button {
  font-size: 0;
  line-height: 0;
  display: block;
  width: 20px;
  height: 20px;
  padding: 5px;
  cursor: pointer;
  color: transparent;
  border: 0;
  outline: none;
  background: transparent;
}

.slick-dots li button:hover,
.slick-dots li button:focus {
  outline: none;
}

.slick-dots li button:hover:before,
.slick-dots li button:focus:before {
  opacity: 1;
}

.slick-dots li button:before {
  font-family: "slick";
  font-size: 5rem;
  line-height: 20px;
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  content: "•";
  text-align: center;
  opacity: 0.25;
  color: black;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.slick-dots li.slick-active button:before {
  opacity: 0.75;
  color: black;
}

/*-------------------------
Tema Slick Customizado
-------------------------*/
.banner__carousel .banner__carousel__item {
  min-height: 250px;
  position: relative;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  outline: none;
}

.slick-arrow:hover {
  opacity: 0.5;
}

.slick-prev {
  left: 3rem;
}

.slick-next {
  right: 3rem;
}

/*------------------------
Framework
------------------------*/
.d-none {
  display: none;
}

.d-in-block {
  display: inline-block;
}

.d-flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.justify-center {
  justify-content: center;
}

.justify-between {
  justify-content: space-between;
}

.align-center {
  align-items: center;
}

.w-100 {
  width: 100%;
}

.img-fluid {
  max-width: 100%;
  width: 100%;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

.col {
  -ms-flex-preferred-size: 0;
  flex-basis: 0;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  max-width: 100%;
}

.text-center {
  text-align: center;
}

.text-primary {
  color: var(--clr-txt);
}

.text-uppercase {
  text-transform: uppercase;
}

.mx-auto {
  margin-left: auto;
  margin-right: auto;
}

/*------------------------
Components
------------------------*/
/* text */
.title {
  color: var(--clr-primary);
  font-size: 6.9rem;
  font-family: var(--font-title);
}

.subtitle {
  text-transform: uppercase;
  font-size: 2.2rem;
  margin-bottom: 20px;
}

/* buttons */
.btn {
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 2px;
  background-color: var(--clr-primary);
  padding: 9px 18px;
}
.btn--sm {
  font-size: 1.4rem;
}
.btn--big {
  font-size: 2.2rem;
  padding: 13px 25px;
}
.btn--red {
  background-color: var(--clr-btn);
}
.btn--red:hover {
  background-color: var(--clr-btn-hover);
}

/*------------------------
Estrutura
------------------------*/
html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  height: 100%;
}

body {
  font-size: 1.6rem;
  font-family: var(--font-book);
  height: 100%;
  display: flex;
  flex-direction: column;
}

body.frozen {
  overflow-y: hidden;
}

.container {
  width: min(90vw, 1201px);
  padding: 0 15px;
  margin: 0 auto;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

/*------------------------
Header
------------------------*/
header {
  position: fixed;
  z-index: 1;
  height: 100px;
  transition: 0.3s;
}

.menu__logo {
  transition: 0.3s;
}
.menu__logo:hover {
  transform: scale(1.07);
}
.menu__links {
  list-style: none;
}
.menu__links__link {
  text-decoration: none;
  color: #000;
  margin-left: 15px;
  transition: 0.3s;
}
.menu__links__link:hover {
  color: rgba(0, 0, 0, 0.6);
}

/*------------------------
Footer
------------------------*/
footer {
  text-align: center;
  margin-top: auto;
  border-top: 1px solid #CACBCE;
}
footer .copy {
  font-size: 1.4rem;
  font-family: var(--font-light);
  color: #787878;
  margin: 25px 0;
}

/*# sourceMappingURL=main.css.map */
