/*------------------------
Framework
------------------------*/
.d-none {display: none;}
.d-in-block {display: inline-block;}
.d-flex {display: flex;}
.flex-column {flex-direction: column;}

.justify-center {justify-content: center;}
.justify-between {justify-content: space-between}

.align-center {align-items: center;}

.w-100 {width: 100%;}

.img-fluid {max-width: 100%; width: 100%;}

.row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

.col {
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    max-width: 100%;
}

.text-center {text-align: center;}
.text-primary {color: var(--clr-txt);}
.text-uppercase {text-transform: uppercase;}

.mx-auto {margin-left: auto; margin-right: auto;}

/*------------------------
Components
------------------------*/
/* text */
.title {
    color: var(--clr-primary);
    font-size: 6.9rem;
    font-family: var(--font-title);
}

.subtitle {
    text-transform: uppercase;
    font-size: 2.2rem;
    margin-bottom: 20px;
}

/* buttons */
.btn {
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    border-radius: 2px;
    background-color: var(--clr-primary);
    padding: 9px 18px;

    &--sm {
        font-size: 1.4rem;
    }

    &--big {
        font-size: 2.2rem;
        padding: 13px 25px;
    }

    &--red {
        background-color: var(--clr-btn);

        &:hover{
            background-color: var(--clr-btn-hover);
        }
    }
}