/*------------------------
Fonts
------------------------*/
@font-face {
    font-family: 'Bellefair';
    src: url('../fonts/bellefair-regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'cooper-hewitt-book';
    src: url('../fonts/cooperhewitt-book.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'cooper-hewitt-light';
    src: url('../fonts/cooperhewitt-light.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'cooper-hewitt-medium';
    src: url('../fonts/cooperhewitt-medium.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

/* Colors and fonts */
:root {
    --clr-primary: #22425C;

    --clr-txt: #4B535B;

    --clr-border: #CACBCE;

    --clr-btn: #E5695B;
    --clr-btn-hover: #F26F60;

    --box-shadow: 0px 3px 6px #00000029;

    --font-title: 'Bellefair', serif;
    --font-book: 'cooper-hewitt-book', sans-serif;
    --font-light: 'cooper-hewitt-light', sans-serif;
    --font-medium: 'cooper-hewitt-medium', sans-serif;
}

/*------------------------
Animations
------------------------*/
@keyframes slideRight {
    from {
        opacity: 0;
        transform: translateX(-100%);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes fadeDown {
    0% {
        opacity: 0;
        transform: translateY(-80px);
    }   
    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}